@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #000;
    --theme-color-secondary: #fff; 
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-color-primary: #fff;
    --theme-color-secondary: #000; 
  }
}
